
@font-face {
  font-family: 'ocr-pbi-punch';
  src: url('/fonts/Ocr-Pbi-punch.ttf');
}

@font-face {
  font-family: 'ocr-pbi-logo';
  src: url('/fonts/Ocr-Pbi-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi1.5';
  src: url('/fonts/Ocr-Pbi-1.5.ttf');
}
@font-face {
  font-family: 'ocr-pbi1.5-logo';
  src: url('/fonts/Ocr-Pbi-1.5-logo.ttf');
}


@font-face {
  font-family: 'ocr-pbi1.7';
  src: url('/fonts/Ocr-Pbi-1.7.ttf');
}
@font-face {
  font-family: 'ocr-pbi1.7-logo';
  src: url('/fonts/Ocr-Pbi-1.7-logo.ttf');
}


@font-face {
  font-family: 'ocr-pbi1.9';
  src: url('/fonts/Ocr-Pbi-1.9.ttf');
}
@font-face {
  font-family: 'ocr-pbi1.9-logo';
  src: url('/fonts/Ocr-Pbi-1.9-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi2.1';
  src: url('/fonts/Ocr-Pbi-2.1-alt.ttf');
}
@font-face {
  font-family: 'ocr-pbi2.1-logo';
  src: url('/fonts/Ocr-Pbi-2.1-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi2.3';
  src: url('/fonts/Ocr-Pbi-2.3.ttf');
}
@font-face {
  font-family: 'ocr-pbi2.3-logo';
  src: url('/fonts/Ocr-Pbi-2.3-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi2.5';
  src: url('/fonts/Ocr-Pbi-2.5.ttf');
}
@font-face {
  font-family: 'ocr-pbi2.5-logo';
  src: url('/fonts/Ocr-Pbi-2.5-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi2.7';
  src: url('/fonts/Ocr-Pbi-2.7.ttf');
}
@font-face {
  font-family: 'ocr-pbi2.7-logo';
  src: url('/fonts/Ocr-Pbi-2.7-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi2.9';
  src: url('/fonts/Ocr-Pbi-2.9.ttf');
}
@font-face {
  font-family: 'ocr-pbi2.9-logo';
  src: url('/fonts/Ocr-Pbi-2.9-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi3.1';
  src: url('/fonts/Ocr-Pbi-3.1.ttf');
}
@font-face {
  font-family: 'ocr-pbi3.1-logo';
  src: url('/fonts/Ocr-Pbi-3.1-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi3.3';
  src: url('/fonts/Ocr-Pbi-3.3.ttf');
}
@font-face {
  font-family: 'ocr-pbi3.3-logo';
  src: url('/fonts/Ocr-Pbi-3.3-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi3.5';
  src: url('/fonts/Ocr-Pbi-3.5.ttf');
}
@font-face {
  font-family: 'ocr-pbi3.5-logo';
  src: url('/fonts/Ocr-Pbi-3.5-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi3.7';
  src: url('/fonts/Ocr-Pbi-3.7.ttf');
}
@font-face {
  font-family: 'ocr-pbi3.7-logo';
  src: url('/fonts/Ocr-Pbi-3.7-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi3.9';
  src: url('/fonts/Ocr-Pbi-3.9.ttf');
}
@font-face {
  font-family: 'ocr-pbi3.9-logo';
  src: url('/fonts/Ocr-Pbi-3.9-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi4.1';
  src: url('/fonts/Ocr-Pbi-4.1.ttf');
}
@font-face {
  font-family: 'ocr-pbi4.1-logo';
  src: url('/fonts/Ocr-Pbi-4.1-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi4.3';
  src: url('/fonts/Ocr-Pbi-4.3.ttf');
}
@font-face {
  font-family: 'ocr-pbi4.3-logo';
  src: url('/fonts/Ocr-Pbi-4.3-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi4.5';
  src: url('/fonts/Ocr-Pbi-4.5.ttf');
}
@font-face {
  font-family: 'ocr-pbi4.5-logo';
  src: url('/fonts/Ocr-Pbi-4.5-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi4.7';
  src: url('/fonts/Ocr-Pbi-4.7.ttf');
}
@font-face {
  font-family: 'ocr-pbi4.7-logo';
  src: url('/fonts/Ocr-Pbi-4.7-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi4.9';
  src: url('/fonts/Ocr-Pbi-4.9.ttf');
}
@font-face {
  font-family: 'ocr-pbi4.9-logo';
  src: url('/fonts/Ocr-Pbi-4.9-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi5.1';
  src: url('/fonts/Ocr-Pbi-5.1.ttf');
}
@font-face {
  font-family: 'ocr-pbi5.1-logo';
  src: url('/fonts/Ocr-Pbi-5.1-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi5.3';
  src: url('/fonts/Ocr-Pbi-5.3-alt.ttf');
}
@font-face {
  font-family: 'ocr-pbi5.3-logo';
  src: url('/fonts/Ocr-Pbi-5.3-logo.ttf');
}

@font-face {
  font-family: 'ocr-pbi5.5';
  src: url('/fonts/Ocr-Pbi-5.5.ttf');
}
@font-face {
  font-family: 'ocr-pbi5.5-logo';
  src: url('/fonts/Ocr-Pbi-5.5-logo.ttf');
}

@font-face {
  font-family: 'ocr-non';
  src: url('/fonts/Ocr-Pbi-non.ttf');
}
@font-face {
  font-family: 'ocr-pbi-titre';
  src: url('/fonts/Ocr-Pbi-titre.ttf');
}
