@import "../../../css/main.less";
// @color2:black;
@color2: white;
// @rose: #f665cc;
// @rose: white;
@rose: pink;
@blue: darkbue;
// @blue: black;
@color1: red;
@size1: 32pt;
@line: 37pt;
@size2: 57pt;
@line2: 57pt;
@size3:8pt;
@line3:13pt;



.flow-punch{
  -webkit-flow-from: flow-punch;
   flow-from: flow-punch;
}

#flow-main .glyphe{
  -webkit-flow-into: flow-glyphe;
   flow-into: flow-glyphe;
}

#flow-main .img{
  -webkit-flow-into: flow-img;
   flow-into: flow-img;
}

#flow-main .infos{
  -webkit-flow-into: flow-infos;
   flow-into: flow-infos;

  line-height: 15pt;

   .adresse{
     color: @rose;
       span:nth-of-type(1){
         font-family: 'ocr-non';
       }
       span:nth-of-type(2){
         font-family: 'ocr-non';
         margin-left:5mm;
       }
       span:nth-of-type(3){
         font-family: 'ocr-non';
         margin-left:10mm;
       }
       span:nth-of-type(4){
         font-family: 'ocr-non';
         margin-left:15mm;
       }
       span:nth-of-type(5){
         font-family: 'ocr-non';
         margin-left:20mm;
       }
       span:nth-of-type(6){
         font-family: 'ocr-non';
         margin-left:25mm;
       }
       span:nth-of-type(7){
         font-family: 'ocr-non';
         margin-left:30mm;
       }
       span:nth-of-type(8){
         font-family: 'ocr-non';
         margin-left:35mm;
       }
       span:nth-of-type(9){
         font-family: 'ocr-non';
         margin-left:40mm;
       }
     }
}



#page-1 .flow-titre {
  // display: none;
  background: url('../img/titre-black.svg');
  background-repeat: none;
  background-size: 100% 200%;
}
#page-2 .flow-titre {
  // display: none; 
  background: url('../img/titre-black.svg');
  background-repeat: none;
  background-size: 100% 200%;
  background-position-y: -210mm
}
#flow-main .presentation {
   -webkit-flow-into: flow-presentation;
    flow-into: flow-presentation;
    font-size: 10.3pt;
    line-height: 12.9pt;
    text-align:left;
    // color: #0404B4;
    color: @blue;
    // -webkit-text-stroke: 1pt white;
    span u{
      background: white;
    
    }

    .paragraphe-1{
      
    }
    .paragraphe-2{
      margin-left: 40mm;
      
    }
    .paragraphe-3{
      margin-left: 20mm;
      
      z-index: 1;
    }
    .paragraphe-4{
      span:nth-of-type(1){
        display:block;
        margin-left: 55mm;
        width: 45mm;
      }
      span:nth-of-type(2){
        display:block;
        margin-left: 45mm;
        width: 55mm;
      }
      span:nth-of-type(3){
        display:block;
        margin-left: 25mm;
        width: 90mm;
      }
      
      // z-index: 1;
    }
    .paragraphe-5{
      margin-top: -12pt;
      z-index: 1;
    }
    .paragraphe-6{
      margin-left: 20mm;
      z-index: 1;
    }
    .paragraphe-7{
      z-index: 1;
      span em {
        // margin-left: 50pt;
        display: block;
        text-align: right !important;
      }
    }

    u{
      text-decoration: none;
      color: @rose;
      // color: #000000;
      // text-transform: uppercase;
    }

}

.paragraphe-1{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi1.5-logo';
      }
      font-family: 'ocr-pbi1.5';
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi1.7-logo';
      }
      font-family: 'ocr-pbi1.7';
        margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi1.9-logo';
      }
      font-family: 'ocr-pbi1.9';
        margin-left:0mm;
    }
}

.paragraphe-2{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi2.1-logo';
      }
      font-family: 'ocr-pbi2.1';
      margin-left:0mm;
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi2.3-logo';
      }
      font-family: 'ocr-pbi2.3';
      margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi2.5-logo';
      }
      font-family: 'ocr-pbi2.5';
        margin-left:0mm;
    }
}

.paragraphe-3{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi2.7-logo';
      }
      font-family: 'ocr-pbi2.7';
      margin-left:0mm;
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi2.9-logo';
      }
      font-family: 'ocr-pbi2.9';
      margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi3.1-logo';
      }
      font-family: 'ocr-pbi3.1';
      margin-left:0mm;
    }
}

.paragraphe-4{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi3.3-logo';
      }
      font-family: 'ocr-pbi3.3';
      margin-left:0mm;
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi3.5-logo';
      }
      font-family: 'ocr-pbi3.5';
      margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi3.7-logo';
      }
      font-family: 'ocr-pbi3.7';
      margin-left:0mm;
    }
}

.paragraphe-5{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi3.9-logo';
      }
      font-family: 'ocr-pbi3.9';
        margin-left:0mm;
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi4.1-logo';
      }
      font-family: 'ocr-pbi4.1';
      margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi4.3-logo';
      }
      font-family: 'ocr-pbi4.3';
      margin-left:0mm;
    }
}

.paragraphe-6{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi4.5-logo';
      }
      font-family: 'ocr-pbi4.5';
      margin-left:0mm;
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi4.7-logo';
      }
      font-family: 'ocr-pbi4.7';
        margin-left:0mm;
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi4.9-logo';
      }
      font-family: 'ocr-pbi4.9';
      margin-left:0mm;
    }
}

.paragraphe-7{
    span:nth-of-type(1){
      u{
        font-family: 'ocr-pbi5.1-logo';
      }
      font-family: 'ocr-pbi5.1';
      margin-left:40mm;
      display: block;
      
    }
    span:nth-of-type(2){
      u{
        font-family: 'ocr-pbi5.3-logo';
      }
      font-family: 'ocr-pbi5.3';
      margin-left:20mm;
      display: block;
      
    }
    span:nth-of-type(3){
      u{
        font-family: 'ocr-pbi5.5-logo';
      }
      font-family: 'ocr-pbi5.5';
        margin-left:0mm;
        
    }
}

.flow-presentation {
    -webkit-flow-from: flow-presentation;
    flow-from: flow-presentation;
    div{
      margin: 0pt;
    }
}

.flow-glyphe{
  -webkit-flow-from: flow-glyphe;
  flow-from: flow-glyphe;
  color:#FF00BF;
  // z-index: 0;
  font-family: 'ocr-pbi1.5';
  font-size: 1px;
  line-height: 2.5;
}

.flow-infos{
  -webkit-flow-from: flow-infos;
  flow-from: flow-infos;
}

.flow-img{
  -webkit-flow-from: flow-img;
  flow-from: flow-img;
  // outline:1px solid red;
}

.infos{
  z-index: 1;
  text-align: left;
  font-size: 9pt;
  line-height: 12.8pt;
  // color: #FF00BF;
  color: #000000;
  font-family: 'ocr-non';
}

.img{
  z-index: 1;
  height: 8mm;
  // bottom: 10mm;
  float: left;
  margin: 2mm;
  // display: none;
}

.img:nth-of-type(1){
  height: 6mm;
}
.img:nth-of-type(5){
  height: 11mm;
  margin-top: 1mm
}
.img:nth-of-type(6){
  height: 6mm;
  margin-bottom: 1mm
}
.img:nth-of-type(8){
  height: 10mm;
  margin-left: -4mm
}

#end{
  left:20mm;
}
